# First, ignore everything
install_ojdbc7.bat
ojdbc7.jar
target/
sql/Generated*.*
# Now, whitelist everything
# !.gitignore
# !README.md
# !sql/
# !src/
# !web/
# !documentation/
# !test/
# !jdoc.bat