#bannerLeft {
	margin-left: 2%;
	float: left;
	font-size: 5em;
	font-weight: bold;
	font-family: 'Rock Salt', cursive;
}

#bannerRight {
	margin-right: 2%;
}

.section {
	padding: 0;
}

h2, h3, #leftColumn {
	border-radius: 10px;
}
